@charset "UTF-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

body {
	background-image:url(../img/bg.jpg);
	background-repeat:no-repeat;
	background-color:#000000;
	background-position:50% 50%;
	background-attachment:fixed;
}

p,h1 {
	color:#FFFFFF;
}

#menu {
	width:960px;
	margin-left:auto;
	margin-right:auto;
	display:flex;
	justify-content:center;
}

#top {
    background: url("../img/top_h.png") no-repeat;
}

#profile {
    background: url("../img/profile_h.png") no-repeat;
}

#list {
    background: url("../img/list_h.png") no-repeat;
}

#menu a {
    display: inline-block;
}

#menu a:hover {
	background-color: transparent;
}

#menu a:hover img {
    visibility: hidden;
}