@charset "UTF-8";
/* CSS Document */

div img 
{
	width:100%;
}



.item {
	width:300px;
	margin:0 auto;
	margin-bottom: 30px;
}

#all {
	display:flex;
	flex-wrap:wrap;
}

.item p {
	text-align:center;
}