@charset "UTF-8";
/* CSS Document */

.cat {
	text-align:right;
	font-size:20px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

.gameList {
	display: flex;
	flex-wrap:wrap;
}

.gameList  figure {
	border: 10px #ffffff double;
	margin:0;
	padding:0;
}

.game {
	margin:auto;
}

figure {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 350px;
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border: 10px #ffffff double;
}
figure * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}
figure img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure figcaption {
  position: absolute;
  top: 9%;
  left: 7%;
  right: 7%;
  bottom: 80%;
  border: 1px solid white;
  border-width: 0 1px 1px;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
figure .heading {
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
figure h3 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  font-weight: 800;
  font-size:36px;
}
figure h3 span {
  font-weight: 800;
}
figure h3:before,
figure h3:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
figure h3:before {
  left: -1000%;
}
figure h3:after {
  right: -1000%;
}
figure p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  font-size:20px;
}
figure a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure:hover img,
figure.hover img {
  opacity: 0.15;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure:hover figcaption,
figure.hover figcaption {
  top: 9%;
  bottom: 9%;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure:hover p,
figure.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

